/**
 Colors: Find and Replace for a quick scheme.
      mirage2      this-site
 1st: #E3E3E3      #E3E3E3          Top header
 2nd: #ffffff      #ffffff          Breadcrumb
 3rd: #003366      #003366          side-nav/h1..h7
*/

@font-face {
    font-family: 'Myriad Pro';
    src: url(../fonts/MyriadPro-Regular.svg);
}

@font-face {
    font-family: 'Myriad Pro';
    src: url(../fonts/MyriadPro-Semibold.eot);
    font-weight: bold;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url(../fonts/b4852b31-892b-45db-a043-d946709730ed.eot)
}

@font-face {
    font-family: "Myriad Pro Cond 1167289";
    src: url("../fonts/b4852b31-892b-45db-a043-d946709730ed.eot?#iefix");
    src: url("../fonts/b4852b31-892b-45db-a043-d946709730ed.eot?#iefix") format("eot"), url("../fonts/ee091f8d-27cd-489b-b7a1-f77d6d222251.woff") format("woff"), url("../fonts/89fcbc43-3863-4967-bafc-235ece4fde60.ttf") format("truetype"), url("../fonts/0a9c288f-c817-4fce-8ce7-4cbf0c0c4119.svg#0a9c288f-c817-4fce-8ce7-4cbf0c0c4119") format("svg");
}

@font-face {
    font-family: "Myriad Pro 1167301";
    src: url("../fonts/76fda6fb-8617-4e88-b290-945c47127ceb.eot?#iefix");
    src: url("../fonts/76fda6fb-8617-4e88-b290-945c47127ceb.eot?#iefix") format("eot"), url("../fonts/01932eb5-2a4e-4bd4-b8a8-8e04f69b2d66.woff") format("woff"), url("../fonts/b1811139-1d49-42a2-8353-e29ca087433c.ttf") format("truetype"), url("../fonts/77a8ed10-0737-4849-9972-26d6e7585df5.svg#77a8ed10-0737-4849-9972-26d6e7585df5") format("svg");
}
@font-face {
    font-family: "Myriad W08 Semibold";
    src: url("../fonts/44632421-aa5e-4564-95e1-9c56392b3708.eot?#iefix");
    src: url("../fonts/44632421-aa5e-4564-95e1-9c56392b3708.eot?#iefix") format("eot"), url("../fonts/4aa4296f-63c3-43a5-810a-58279e79fa8b.woff") format("woff"), url("../fonts/f90d27fc-fd02-4e0b-877a-4213c293ceec.ttf") format("truetype"), url("../fonts/d7929319-a857-472c-9acb-891f0efac51d.svg#d7929319-a857-472c-9acb-891f0efac51d") format("svg");
}

@font-face {
    font-family: 'UNR-icons';
    src: url('../fonts/UNR-icons.eot');
    src: url('../fonts/UNR-icons.eot?#iefix') format('embedded-opentype'), url('../fonts/UNR-icons.ttf') format('truetype'), url('../fonts/UNR-icons.woff') format('woff'), url('../fonts/UNR-icons.svg#UNR-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: "Myriad Pro 1167301", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 22.81px;
}

h1, h2, h3, h4, h5, .h3 {
    font-family: "Myriad Pro Cond 1167289", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antiAliased;
    color: #003366;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 5.6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 14px;
}


/* Override dspace-bootstrap-tweaks */
header .navbar-brand img {
    height: 30px;
    padding-right: 6px;
    margin-top: -6px;
}

header .navbar-default .navbar-brand {
    color: #003366;
    margin-top: 2px;
}

header .navbar-default .navbar-brand:hover, header .navbar-default .navbar-brand:focus {
    text-decoration: underline;
    color: #003366;
}

.navbar {
    min-height: 55px;
}

/* Override classic-mirage-style */
header .navbar-default {
    background-color: #E3E3E3;
    background-color: rgba(255, 255, 255, 0.9);
}

header .navbar-default .navbar-toggle > li > a, header .navbar-default .navbar-nav > li > a {
    color: #003366;
}

/** Blue row to hold app name */
.scholarWorks {
    background-color: #003366;
    color: #ffffff;
}

.scholarWorks p {
    margin-bottom: 0px;
    
}

.scholarWorks .h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.scholarWorks a {
    color: #ffffff;
}

.trail-wrapper {
    background-color: #ffffff;
    color: #555555;
    border-bottom: none;
    padding-top: 15px;
}
.trail-wrapper .breadcrumb > li + li:before {
    color: #555555;
}
.trail-wrapper .breadcrumb > .active {
    color: #003366;
}
.trail-wrapper .sidebar-toggle .icon-bar {
    background-color: #003366;
}
.trail-wrapper .sidebar-toggle:hover, .trail-wrapper .sidebar-toggle:focus {
    background-color: #003366;
}

.full-width-holder {
    background-color: #fff;
}

.breadcrumb, .breadcrumb a {
    color: #555555;
    font-size: 14px;
    line-height: 20px;
}

.breadcrumb li.active {
    color: #003366;
}

.breadcrumb>li+li:before {
    content: ">";
}

@media (max-width: 767px) {
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #003366;
        border: 1px solid #003366;
    }
}

/* Submission form progress buttons */
.btn-success {
    background-color: #003366;
    border: 1px solid #8b9eb2;
}
.btn-success[disabled], .btn-success.disabled {
    background-color: #E3E3E3;
    border: 1px solid #8b9eb2;
}
.btn-success:hover {
    background-color: #3a658e;
}

/* Header Person dropdown */
header .navbar-default .navbar-toggle > .open > a, header .navbar-default .navbar-toggle > .open > a:hover, header .navbar-default .navbar-toggle > .open > a:focus, header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
    background-color: #003366;
    color: #E3E3E3;
}
header .navbar-default .navbar-toggle > li > a:hover, header .navbar-default .navbar-toggle > li > a:focus, header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:focus {
    background-color: #003366;
    color: #E3E3E3;
}
header .navbar-default .navbar-toggle > .active > a, header .navbar-default .navbar-toggle > .active > a:hover, header .navbar-default .navbar-toggle > .active > a:focus, header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:focus {
    background-color: #003366;
    color: #E3E3E3;
}
header .navbar-default .navbar-toggle > .open > a, header .navbar-default .navbar-toggle > .open > a:hover, header .navbar-default .navbar-toggle > .open > a:focus, header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
    background-color: #003366;
    color: #E3E3E3;
}

/* Registration Buttons */
.label-success {
    background-color: #003366;
    color: #E3E3E3;
}

/* Search Icon */
.btn-primary {
    color: #fff;
    background-color: #003366;
    border-color: #003366;
}


/* bootstrap-classic-mirage-colors */
a {
    color: #428bca;
}
.text-primary {
    color: #003366
}
.bg-primary {
    background-color: #003366
}
.btn-primary {
    background-color: #003366;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #003366;
}
.btn-primary .badge {
    color: #003366;
}
.btn-link {
    color: #003366;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #003366
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: #003366
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #003366
}

.navbar-inverse {
    background-color: #E3E3E3;
}
.pagination > li > a, .pagination > li > span {
    color: #003366;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #003366;
    border-color: #003366;
}
.label-primary {
    background-color: #003366
}
a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: #003366;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #003366
}
.progress-bar {
    background-color: #003366;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #003366;
    border-color: #003366
}
.panel-primary {
    border-color: #003366
}
.panel-primary > .panel-heading {
    background-color: #003366;
    border-color: #003366
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #003366
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #003366
}

footer {
    background-color: #083158;
    color: #3a658e;
}


/** Copied from UNR.edu/vpri styles */
.main-footer {
    background: #f5f5f5 url("../images/footer-bg.jpg") bottom left no-repeat;
    background-size: 100% auto;
    min-height: 200px;
}
.main-footer .footer-links {
    margin: 0;
    margin-top: 3.4375em;
    margin-bottom: 1.25em;
}
.main-footer .footer-links li {
    margin: 0;
    list-style: none;
    margin: .3em 0 .85em;
    padding-right: 2.5em;
    line-height: 0.9375em;
}
.main-footer .footer-links li h4 {
    margin: 0;
    font-size: 1.125em;
    color: #003366;
    font-family: "Myriad W08 Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 1.2222222222222223em;
    line-height: 1.1111111111111112em;
}
.main-footer .footer-links li a {
    font-size: 0.8125em;
    color: #9c9c9c;
}
.main-footer .footer-logo-line {
    text-align: center;
    background: url("../images/footer-logo-strike.png") no-repeat center center;
}
.main-footer .footer-social {
    list-style: none;
    margin: 62px 0 0;
    text-align: center;
}
.main-footer .footer-social li {
    margin: 0 .6em;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.main-footer .footer-social a {
    color: #003366;
    font-size: 1.625em;
    text-decoration: none;
}
.main-footer .footer-social a .icon-circle {
    font-size: 1.0769230769230769em;
    margin-left: -0.21428571428571427em;
    margin-right: -0.21428571428571427em;
}
.main-footer .footer-social a .flickr-icon-hack {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-left: -0.2857142857142857em;
    color: rgba(0, 51, 102, 0.6);
}
.main-footer .footer-social a:hover {
    color: #5292bc;
}
.main-footer .footer-social a:hover .flickr-icon-hack {
    color: rgba(82, 146, 188, 0.5);
}
.main-footer .footer-logo {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.main-footer .footer-info,
.main-footer .footer-nav {
    color: #555555;
    list-style: none;
    margin: 0;
    text-align: center;
}
.main-footer .footer-info li,
.main-footer .footer-nav li {
    margin: 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.main-footer .footer-info {

    color: #dbdbdb;
}
.main-footer .footer-info li {
    margin: 0 .5em;
    color: #003366;
    color: rgba(0, 51, 102, 0.95);
}
.main-footer .footer-info li span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left: .8em;
    color: #dbdbdb;
}
.main-footer .footer-info a {
    color: #003366;
    color: rgba(0, 51, 102, 0.95);
    text-decoration: none;
    font-size: 16px;
}
.main-footer .footer-nav {
    margin: 1em 0 6em;
    font-size: 0.75em;
    color: #cacaca;
}
.main-footer .footer-nav li {
    margin: 0 .5em;
}
.main-footer .footer-nav span {
    margin-left: .5em;
}
.main-footer .footer-nav a {
    color: #a7a7a7;
}

@media not all, not all, (-webkit-min-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
    .logo-swap {
        background-size: 112px 509px;
    }
}

#footer-logo {
    background-position: center -692px;
    width: 71px;
    height: 71px;
}

@media not all, not all, (-webkit-min-device-pixel-ratio: 1.3), not all, (min-resolution: 1.3dppx) {
    #footer-logo, #push-mobile-logo {
        background-position: center -227px !important;
    }
}

.logo-swap {
    display: inline-block;
    zoom: 1;
    background: url("../images/logo-sprites.png") no-repeat center 0;
    text-indent: -9999em;
    overflow: hidden;
}

/** Header background image */
.header-bg-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}
.header-bg-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.header-bg-gradient {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: -20;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top, rgba(255, 144, 0, 0.15) 0%, transparent 40%, rgba(0, 51, 102, 0.5) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 144, 0, 0.15) 0%, transparent 40%, rgba(0, 51, 102, 0.5) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 144, 0, 0.15) 0%, transparent 40%, rgba(0, 51, 102, 0.5) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 144, 0, 0.15) 0%, transparent 40%, rgba(0, 51, 102, 0.5) 100%);
    background-image: linear-gradient(top, rgba(255, 144, 0, 0.15) 0%, transparent 40%, rgba(0, 51, 102, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26ff9000', endColorstr='#80003366', GradientType=0);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26ff9000',endColorstr='#80003366',GradientType=0);
}

.header-bg-gradient {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.header-bg {
    background-size: cover;
    background-position: center center;
    height: 500px;
}
.header-bg {
    background-color: #003366;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 840px;
    z-index: -22;
}

.header-seperator {
    height: 140px;
    margin-top: 224px;
    background-color: rgba(245, 245, 245, .8);
    border-bottom: 1px solid rgb(227, 227, 227);
    padding: 20px;
    z-index: 50 !important;
    position: relative;
}

.header-seperator img {
    margin-top: 8px;
}

.seperator-icon {
    padding-left: 0px;
    z-index: 101;
    position: absolute;
    top: 117px;
    height: 35px;
}

.centerImage {
    display: block;
    height: auto;
    margin: 20px auto;
    max-width: 100%;
}

.small-header.header .header-bg {
    background-size: cover;
    background-position: center center;
    height: 195px;
    postion: relative;
}

.small-header.header .header-bg-gradient {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.small-header.header .big-video-gradient-overlay, .small-header.header .header-bg-gradient {
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    z-index: -20;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top, rgba(255, 144, 0, 0.15) 0%, transparent 40%, rgba(0, 51, 102, 0.5) 100%);
    height: 195px;
}

.small-header.header .header-seperator {
    margin-top:0px;
}


#ds-options .ds-option-set-head {
    color: #003366;
    font-size: 21px;
}

.ds-previous-values {
    padding-left: 20px;
}

.community-browser-row a[name='community-browser-link'] {
    font-family: "Myriad Pro Cond 1167289", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight:500;
    line-height:40px;
}

h1.secondary-nav {
    color: #003366;
    font-size: 1.125em;
    margin: 0;
    padding: 0;
    line-height: 3.111111111111111em;
    float: left;
    text-transform: inherit;
    font-family: "Myriad Pro 1167301", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4.artifact-title {
    font-family: 'Myriad Pro 1167301', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22.81px;
}

li.community h4.artifact-title, li.collection h4.artifact-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    overflow: hidden;
}

#file_news_div_news {
    padding-right: 100px;
}

#file_news_div_news .h3 a {
    text-decoration: underline!important;
}

#file_news_div_news .h3 {
    margin: .5em 0 .2em;
    font-size: 28px!important;
    text-transform: inherit;
    color: #003366;
}

#file_news_div_news p.home-caption {
    margin: .5em 0 2em;
    padding: 0;
    line-height: 1.8em;
}