/**
 Colors: Find and Replace for a quick scheme.
      mirage2      this-site
 1st: #1f3f5e      #1f3f5e          Top header
 2nd: #aab8c6      #aab8c6          Breadcrumb
 3rd: #607890      #607890          side-nav/h1..h7
*/


/* Override dspace-bootstrap-tweaks */
header .navbar-brand img {
    height: 56px;
    margin-top: -6px;
}

.viurrspace-header {
    background: url('../images/Library-Banner.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 221px;
    max-width: 988px;
}



.rru-image {
    height: 51px;
    padding-top: 22px;
}

.top-nav {
    height: 221px;
}


/* Mobile shrink the background image */
@media (max-width: 535px) {
    .viurrspace-header {
        background: url(../images/Library-Banner.jpg) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        z-index: -10;
        height: 115px;
    }
}

@media (max-width: 535px) {
    .top-nav {
        height: 115px;
    }
}

.utility-bar {
    height: 70px;
    background-color: #aab8c6;
}

.utility-bar img {
    max-height: 64px;
}

.navbar {
    min-height: 77px;
}

/* Override classic-mirage-style */
header .navbar-default {
    background: none;
}

nav.top-nav {
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 82.5em;
    width: 100%;
}

@media(min-width: 1200px) {
    .container {
        width: 1040px;
    }
}

.trail-wrapper {
    background-color: #aab8c6;
}
.trail-wrapper .breadcrumb > li + li:before {
    color: #00415d;
}
.trail-wrapper .breadcrumb > .active {
    color: #eee;
}
.trail-wrapper .sidebar-toggle .icon-bar {
    background-color: #607890;
}
.trail-wrapper .sidebar-toggle:hover, .trail-wrapper .sidebar-toggle:focus {
    background-color: #607890;
}

@media (max-width: 767px) {
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #607890;
        border: 1px solid #607890;
    }
}

@media screen and (max-width: 767px) {
    .row-offcanvas-right.active .col-xs-6.col-sm-3.sidebar-offcanvas {
        margin-right: 0px;
    }
}

header .navbar-default .navbar-toggle > li > a,
header .navbar-default .navbar-nav > li > a,
header .navbar-default .navbar-toggle, header .navbar-default .navbar-nav,
header .navbar-default .navbar-toggle .icon-bar,
header .navbar-default .navbar-nav .icon-bar
{
    color: #00415d;
}

header .navbar-default .navbar-toggle .icon-bar, header .navbar-default .navbar-nav .icon-bar {
    background-color: #00415d;
}

header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus, header .navbar-default .navbar-nav:hover, header .navbar-default .navbar-nav:focus {
    color: white;
    background-color: #ddd;
}

/* Submission form progress buttons */
.btn-success {
    background-color: #aab8c6;
    border: 1px solid #8b9eb2;
}
.btn-success[disabled], .btn-success.disabled {
    background-color: #1f3f5e;
    border: 1px solid #8b9eb2;
}
.btn-success:hover {
    background-color: #3a658e;
}

/* Header Person dropdown */
header .navbar-default .navbar-toggle > .open > a, header .navbar-default .navbar-toggle > .open > a:hover, header .navbar-default .navbar-toggle > .open > a:focus, header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
    background-color: #aab8c6;
    color: #eaf1f7;
}
header .navbar-default .navbar-toggle > li > a:hover, header .navbar-default .navbar-toggle > li > a:focus, header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:focus {
    background-color: #aab8c6;
    color: #eaf1f7;
}
header .navbar-default .navbar-toggle > .active > a, header .navbar-default .navbar-toggle > .active > a:hover, header .navbar-default .navbar-toggle > .active > a:focus, header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:focus {
    background-color: #aab8c6;
    color: #eaf1f7;
}
header .navbar-default .navbar-toggle > .open > a, header .navbar-default .navbar-toggle > .open > a:hover, header .navbar-default .navbar-toggle > .open > a:focus, header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
    background-color: #aab8c6;
    color: #eaf1f7;
}

/* Registration Buttons */
.label-success {
    background-color: #aab8c6;
    color: #eaf1f7;
}

/* Search Icon */
.btn-primary {
    color: #fff;
    background-color: #607890;
    border-color: #607890;
}


/* bootstrap-classic-mirage-colors */
a {
    color: #607890;
}
.text-primary {
    color: #607890
}
.bg-primary {
    background-color: #607890
}
.btn-primary {
    background-color: #607890;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #607890;
}
.btn-primary .badge {
    color: #607890;
}
.btn-link {
    color: #607890;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #607890
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: #607890
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #607890
}

.navbar-inverse {
    background-color: #1f3f5e;
}
.pagination > li > a, .pagination > li > span {
    color: #607890;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #607890;
    border-color: #607890;
}
.label-primary {
    background-color: #607890
}
a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: #607890;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #607890
}
.progress-bar {
    background-color: #607890;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #607890;
    border-color: #607890
}
.panel-primary {
    border-color: #607890
}
.panel-primary > .panel-heading {
    background-color: #607890;
    border-color: #607890
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #607890
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #607890
}

footer {
    background-color: #2d3032;
    padding: 25px 0 50px 0;
    height: auto;
    color: #e8e2d8;
    font-size: 10px;
    line-height: 13px;
}

#footer-toggle .arrow {
    position: static;
}

#main-menu .container, .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#container {
    min-height: 0px;
}

.word-break {
    word-break: normal;
    hyphens: auto;
}

/* Royal Roads Footer */




#zone-footer a.logo {
    display: block;
    margin-top: 45px;
    float: left;
}

.block.footer-address {
    color: #eaebe8;
    font-size: 13px;
    line-height: 20px;
    margin: 25px 0 10px;
}

.block.footer-copyright {
    color: #b8babd;
    font-size: 13px;
    line-height: 20px;
}

.block.footer-address h2 {
    border-bottom: 1px solid #606270;
    color: #fff;
    font-family: 'Auto1 SmCp';
    font-size: 13px;
    font-weight: bold;
    margin: -2px 0 7px;
    padding: 0 0 5px;
    text-transform: uppercase;
}

.block.footer-address address {
    font-family: roboto, 'trebuchet MS', tahoma, verdana, sans-serif;
    font-size: 12px;
    margin-bottom: 0px !important;
}

.block.footer-address a {
    color: #fff;
    text-decoration: none;
}

.block.footer-address ul.menu, .block.footer-copyright ul.menu {
    font-family: roboto, 'trebuchet MS', tahoma, verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.block.footer-address ul.menu li, .block.footer-copyright ul.menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block.footer-address ul.menu li a, .block.footer-copyright ul.menu li a {
    border-bottom: 1px solid #363948;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
    padding-bottom: 1px;
    text-decoration: none;
}

.block.footer-address ul.menu li a:hover, .block.footer-copyright ul.menu li a:hover {
    border-bottom: 1px solid #5D616D;
}

.block.footer-copyright, .block.footer-copyright a, .block.footer-copyright ul.menu li a {
    color: #b8babd;
}

.block.footer-social {
    margin: 25px 0 0px;
}

.block.footer-social .content a {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    background-image: url('../../rru-mirage2/images/social-media.png');
    background-repeat: no-repeat;
    text-indent: -3000px;
}

.block.footer-social .content a.facebook {
    background-position: -18px -112px;
}

.block.footer-social .content a.facebook:hover {
    background-position: -18px -62px;
}

.block.footer-social .content a.twitter {
    background-position: -18px -310px;
}

.block.footer-social .content a.twitter:hover {
    background-position: -18px -260px;
}

.block.footer-social .content a.linkedin {
    background-position: -18px -912px;
}

.block.footer-social .content a.linkedin:hover {
    background-position: -18px -862px;
}

.block.footer-social .content a.youtube {
    background-position: -14px -512px;
}

.block.footer-social .content a.youtube:hover {
    background-position: -14px -462px;
}

.block.footer-social .content a.pinterest {
    background-position: -12px -1512px;
}

.block.footer-social .content a.pinterest:hover {
    background-position: -12px -1462px;
}

#zone-footer a.top {
    display: block;
    float: right;
    padding: 16px 40px 16px 14px;
    background-color: #444757;
    color: #FFF;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
    background-image: url('../../rru-mirage2/images/header-footer.png');
    background-position: 88px -254px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: roboto;
}

#zone-footer a.top:hover {
    background-color: #4E5163;
}

.viu-footer-logo {
    max-height: 90px;
    padding-bottom: 11px;
}